<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="www.sitecore.net/.../">
  <sitecore>
    <xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <schema name="MovieModel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration">
            <param desc="modeltype">NetflixNext.xConnect.Extensions.MovieModel, NetflixNext.xConnect.Extensions</param>
          </schema>
        </schemas>
      </runtime>
    </xconnect>
  </sitecore>
</configuration>